body {
    font-family: cursive;
    font-size: 20px;
    max-width: 50%;
    margin-left: 40px;
    background: url(../images/pattern.jpg);
}

h1 {
    font-size: 35px;
    font-weight: bold;
    background-color: #d6d6e1;
    padding: 20px;
    text-align: center;
}

#instructions {
    line-height: 2;
    background-color: rgb(210, 210, 210);
    padding: 10px;
    font-size: 12px;
}

#random-number {
    padding: 30px;
    width: 200px;
    float: left;
    text-align: center;
    vertical-align: bottom;
    background-color: #d6d6e1;
    font-weight: bolder;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 30px;
}

#win-loss {
    padding: 30px;
    width: 200px;
    text-align: center;
    background-color: #2b2a2a;
    color: #ffffff;
    float: right;
    margin-right: 50px;
}

#win-loss p {
    display: inline;
}

#pictures {
    clear: both;
}

img {
    width: 150px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

h3 {
    padding: 10px;
    font-size: 16px;
    max-width: 20%;
    margin-left: 20px;
    background-color: #2b2a2a;
    color: #ffffff;
}

#points {
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
    padding: 20px;
    max-width: 20%;
    font-size: 30px;
    background-color: #d6e1db;
    border: 2px solid;
}