body {
    font-family: cursive;
    font-size: 30px;
    max-width: 50%;
    margin-left: 40px;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    background-color: #eb8d8d;
    padding: 20px;
    /* max-width: 30%; */
    text-align: center;
}

#instructions {
    line-height: 2;
    /* max-width: 60%; */
    background-color: darkcyan;
    padding: 20px;
    font-size: 16px;
}

#random-number {
    padding: 30px;
    height: 100px;
    width: 200px;
    float: left;
    text-align: center;
    vertical-align: bottom;
    background-color: #eb8d8d;
    font-weight: bolder;
    margin-left: 50px;
    font-size: 50px;
}

#win-loss {
    padding: 30px;
    height: 100px;
    width: 200px;
    text-align: center;
    background-color: #2b2a2a;
    color: #ffffff;
    float: right;
    margin-right: 50px;
}

#pictures {
    clear: both;
}

img {
    width: 150px;
    padding: 20px;
}

h3 {


}

#points {
    
}